name: SonarCloud

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build & Test
        run: ./gradlew build koverXmlReport

      - name: SonarCloud analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR }}
        run: ./gradlew sonar --stacktrace --info \
          -Dsonar.projectKey=${{ secrets.PROJECT_KEY }} \
          -Dsonar.organization=${{ secrets.ORG_NAME }} \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
